html,
body {
  padding: 0;
  margin: 0;
  font: 'San Francisco', Helvetica, Arial, san-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper {
  width: 100%;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next {
  background: #FFFFFF;
  opacity: 0.75;
  border: 0.5px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 50%;
  padding: 0px 20px;
}

.swiper-button-next::before {
  font-family: FontAwesome;
  content: '\f105';
  position: absolute;
  width: 100px;
  height: 100px;
  left: 36%;
  right: 64%;
  top: -10px;
  display: block;
  z-index: 1;
  font-size: 40px;
  color: #000;
}

.swiper-button-prev {
  background: #FFFFFF;
  opacity: 0.75;
  border: 0.5px solid #BDBDBD;
  border-radius: 50%;
  padding: 0px 20px;
}

.swiper-button-prev::before {
  font-family: FontAwesome;
  content: '\f104';
  position: absolute;
  width: 100px;
  height: 100px;
  left: 30%;
  right: 70%;
  top: -10px;
  display: block;
  z-index: 1;
  font-weight: 900;
  font-size: 40px;
  color: #000;
}

.dropdown_with_scroll {
  min-height: 0px;
  max-height: 200px;
  min-width: 100%;
  max-width: auto;
  padding: 0px;
  overflow-y: scroll;
  border: none;
}

.dropdown_with_scroll::-webkit-scrollbar {
  width: 5px;
}
.dropdown_with_scroll::-webkit-scrollbar-track {
  background-color: #fff;
}
.dropdown_with_scroll::-webkit-scrollbar-thumb {
  background-color: #BDBDBD;
}
